<!DOCTYPE html>
<html lang="en">
  <head>
      <title>PetFinder</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/stylesheets/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <%- include('header'); %>
    <div class="main-container">
      <div class="nav-container"><%- include('nav'); %></div>
      <div class="content-container">
        <p class="app-info">PetFinder is a full stack application built using <b>M</b>ongoDB, <b>E</b>xpress.js, <b>E</b>JS, <b>N</b>ode.js.</p>
        <hr>
        <div class="form-container">
            <h3>Add Pet</h3>
            <form class="add-form" action="/catalog/create_dog" method="post">
                <div class="form-fields">
                    <div class="form-field">
                        <label for="name">Name: </label>
                        <input required type="text", id="pet_name", name="name", placeholder="Enter Name">
                    </div>
                    <div class="form-field">
                        <label min="0" max="20" for="age">Age: </label>
                        <input type="text", id="pet_age", name="age", placeholder="Enter age">
                    </div>
                    <div class="form-field">
                        <label for="breed">Breed: </label>
                        <input type="text", id="pet_breed", name="breed", placeholder="Enter breed">
                    </div>
                    <div class="form-field">
                        <label for="gender">Gender: </label>
                        <select name="gender" id="gender" name="gender">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="size">Size: </label>
                        <select name="size" id="size" name="size">
                            <option value="Small">Small</option>
                            <option value="Medium">Medium</option>
                            <option value="Large">Large</option>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="location">State:</label>
                        <select name="location" id="location" name="location">
                        <% locations.forEach((location, i) => { %>
                        <option value="<%- locations[i].state %> "><%- locations[i].state %> </option>
                        <% }) %>
                    </select>
                    </div>
                    <div class="form-field">
                        <label for="shelter">Shelter: </label>
                        <select name="shelter" id="shelter" name="shelter">
                            <% shelters.forEach((shelter,i) => { %>
                            <option value="<%- shelters[i].name  %> "><%- shelters[i].name %> </option>
                            <% }) %>
                        </select>
                    </div>
                    <div class="form-field">
                        <label for="entry_date">Entry Date: </label>
                        <input required type="date", id="entry_date", name="entry_date">
                    </div>
                </div>
                <div class="form-control">
                    <button type="submit" value="submit" class="add-button">Add</button>
                </div>
            </form>
        </div>
    </div>
    </div>
  </body>
  <footer>
    <%- include('footer'); -%>
  </footer>
</html>